.user-header {
  position: fixed;           /* 🔒 FIX HEADER */
  top: 0;
  left: 0;
  right: 0;

  height: 88px;              /* IMPORTANT */
  z-index: 1000;             /* STAY ON TOP */

  background: linear-gradient(135deg, #5b5ff0, #6c63ff);
  padding: 18px 20px;

  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand h2 {
  font-size: 1.4rem;
  margin: 0;
   line-height: 1.2; 
}

.brand span {
  font-size: 0.85rem;
  opacity: 0.9;
   line-height: 1.2; 
}

.user-avatar {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn {
  background: rgba(255,255,255,0.25);
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}
